.myheader {
    background-image: linear-gradient(170deg, lightblue 0%, #0a192f 55%);
    height: 500px;
    width: 100%;
    color: #d3dce8;
    font-family : 'Courier';
    font-size: 28px;
    text-align: center;
    padding : 2%;
  }
.name{
    color: #fdfdfd;
    font-family: Verdana;
    font-size: 60px;
}